
.incomesummarize {
    .incomesummarize-breadcrumb {
        padding-top: 20px;
        line-height: 28px;
    }
    .incomesummarize-mian {
        width: 100%;
    }
    .incomesummarize-mian-item {
        margin: 25px 0 20px;
    }

    // detail-wrap
    .detail-wrap {

    }
}



