@import "~antd/dist/antd.less";



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'icomoon';
  src: url('library/fonts/icomoon.eot');
  src: url('library/fonts/icomoon.eot#iefix') format('embedded-opentype'),
  url('library/fonts/icomoon.ttf') format('truetype'),
  url('library/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-logo:before {
  content: "\e900";
  font-size: 48px;
}
